<nav class="navbar-header" aria-label="Top Toolbar">
  <img class="logo" alt="Logo" src="../../../assets/images/old_logo.png" />
  <div>
    <a
      mat-button
      *ngFor="let key of sectionKeys"
      [routerLink]="key"
      routerLinkActive="navbar-header-item-selected"
      >{{ sections[key].name }}</a
    >
    <a mat-button href="https://www.mel-eishockey.de/" alt="MEL liga">Liga</a>
  </div>
  <a
    mat-icon-button
    class="button"
    href="https://github.com/aliceborner/uni-muenchen-eishockey"
    aria-label="GitHub Repository"
  >
    <img
      class="github-logo"
      src="../../../assets/images/github-logo.png"
      alt="angular"
    />
  </a>
</nav>
