<nav class="navbar-header" aria-label="Top Toolbar">
  <div class="logo"></div>
  <div>
    <a
      mat-button
      color="primary"
      *ngFor="let key of sectionKeys"
      [routerLink]="key"
      routerLinkActive="navbar-header-item-selected"
      >{{ sections[key].name }}</a
    >
    <a
      mat-button
      color="primary"
      href="https://www.mel-eishockey.de/"
      alt="MEL liga"
      >Liga</a
    >
  </div>
  <a
    class="button"
    href="https://github.com/aliceborner/uni-muenchen-eishockey"
    aria-label="GitHub Repository"
  >
    <div class="github-logo"></div>
  </a>
</nav>
