.navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
  justify-content: space-between;

  > .mat-button {
    &:last-child {
      margin-left: auto;
    }
  }
}

a {
  font-size: large;
}

.logo {
  width: 80px;
  left: 0;
}

.github-logo {
  height: 40px;
}
