.navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
  justify-content: space-between;

  > .mat-button {
    &:last-child {
      margin-left: auto;
    }
  }

  .mat-mdc-button {
    color: black;
    --mat-mdc-button-persistent-ripple-color: black;
  }
}

a {
  font-size: large;
}

.logo {
  height: 90px;
  width: 80px;
  left: 0;
  background-image: url("../../../assets/images/old_logo.png");
  background-size: cover;
}

.github-logo {
  height: 60px;
  width: 60px;
  background-image: url("../../../assets/images/github-logo.png");
  background-size: cover;
}

@media (max-width: 720px) {
  .github-logo {
    display: none;
  }
}
