<nav class="navbar-header" aria-label="Top Toolbar">
  <img class="logo" width="50" alt="Logo" src="../../../assets/old_logo.png" />
  <a
    mat-button
    class="navbar-hide-small button"
    *ngFor="let key of sectionKeys"
    [routerLink]="key"
    routerLinkActive="navbar-header-item-selected"
    >{{sections[key].name}}</a
  >
  <a
    mat-icon-button
    class="button"
    href="https://github.com/aliceborner/uni-muenchen-eishockey"
    aria-label="GitHub Repository"
  >
    <img
      class="angular-logo navbar--github-logo"
      src="../../../assets/github-circle-white-transparent.svg"
      alt="angular"
    />
  </a>
</nav>
