<div class="training">
  <h1>Training</h1>
  <div class="content">
    <div class="image"></div>
    <div>
      <p>
        Unser teaminternes Mannschaftstraining findet zweimal die Woche statt:
        <br />
        <br />

        <b
          >Mittwoch von 20:00-21:00 Uhr und jeden zweiten Sonntag von
          20:00-22:00 Uhr</b
        >
        im Münchner Oststadion.
        <br />
        <br />
        Für ein Probetraining ist jeder nach Anmeldung herzlich eingeladen.
      </p>
      <p class="details">
        Zusätzlich trainieren wir im regulären Trainingsbetrieb des Zentralen
        Hochschulsports (ZHS) mit. Studierende und Hochschulangehörige können
        mit einem ZHS-Ausweis mit einer gültigen H-Marke mittrainieren. Alle
        anderen können über eine Mitgliedschaft im Förderverein einen Ausweis
        erwerben. Zusätzlich ist eine Online-Anmeldung auf der ZHS-Homepage,
        separat für beide Trainingseinheiten, nötig. Nähere Infos: Hier Die
        Leistungsklasse trainiert einmal die Woche: Dienstag 7.30-9.00 Uhr,
        Oststadion, Trainer: Michael Bauer Wir organisieren v.a. an spielfreien
        Wochenenden auch weitere Trainingseinheiten in Pfaffenhofen.
      </p>
    </div>
  </div>
</div>
