<div class="section">
  <div class="column">
    <div class="text">
      <h1>Bist du StudentIn/Alumnus/a und willst <b>Eishockey</b> spielen?</h1>
      <p>Komm und spiel mit uns!</p>
      <a mat-raised-button class="button" routerLink="/guide/getting-started"
        >Kontakt</a
      >
      <app-social-media></app-social-media>
    </div>
  </div>
  <div>
    <img class="logo" alt="logo" src="../../../assets/new_logo2.png" />
    <img
      class="background"
      alt="Background"
      src="../../../assets/background.jpg"
    />
  </div>
</div>
